<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button @click="fetchUsers">Fetch data</button>
      <div v-if="isLoading">Loading...</div>
      <ul>
        <li v-for="user in users" :key="user.id">{{user.name}}</li>
      </ul>
    </div>
  </body>
  <script src="./main.js"></script>
</html>
